.project{
    display:flex;
    flex-direction:row;
    margin-bottom:60px;
}
.project img{
    width:500px;
    border-radius:40px
}   
.left .text{
    padding-left:50px;
}
.right img{
    padding-left:50px;
}
h5{
    font-size:30px;
    color:rgb(28, 28, 28);

}
p{
    margin-top:-20px;
    line-height: 30px;
}